.home-container {
  position: absolute;
  width: 580px;
  left: 125px;
  top: 179px;
}

.home-content {
  display: flex;
  align-content: flex-start;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 64px;
  color: #062847;
  }

.home-content h1 {
  padding-left: 0px;
  padding-right: 15px;
}

.home-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A6774;
}

.home-btn {
  background-color: #1890FF;
  border-radius: 4px;
  width: 101px;
  height: 40px;
  margin-top: 48px;
  border: 1px solid #fff;
}

.home-btn a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}



  




